{% extends 'lotification/base.html'%}
{% load widget_tweaks %}

{% block content %}
<div class="main_section_list">
  
  <div class="dashboard">
    
    <div class="title_card">
      <h5>Clientes:</h5>
    </div>
    
    <div class="filter_section">
      <form action="" method="get">
        
      {{filtro.form}}
      <button class="btn btn-primary" type="submit" > Buscar</button>
    </form>
    
  </div>
  
  
  <div class="table_info">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Numero de Telefono</th>
          <th scope="col">Direccion</th>
        </tr>
      </thead>
      <tbody>
        {% for i in clients %}
        <tr>
          <th>{{i.id}}</th>
          <td>{{i.client_name}}</td>
          <td>{{i.client_last_name}}</td>
          <td>{{i.client_phone}}</td>
          <td> <p>{{i.client_direction}} </p></td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>
  
  <div class="btns_section">
    <a href="nuevo_cliente" class="btn btn-outline-info">Nuevo</a>
    <a href="home" class="btn btn-outline-danger">Volver</a>
    
  </div>
  
</div>
  
</div>




<!--     
  <div class="form_section">
    <form action="">
      <div class="input-label">
        <input class="form-control" id="customer_id" placeholder="Buscar por ID">
            </div>
        </form>
    </div> -->

        
          
{% endblock %}