{% extends 'lotification/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <div class="main_section_new">
        <div class="img_container">
            <figure>
                <img src="{% static '/img/logo_sin_fondo.png' %}" alt="">
            </figure>

        </div>


        <div class="form_container">

            <div class="title_card">

                    <h5>Editar Informacion del lote</h5>

            </div>

            <form action="" method="post" class="form_new_client" enctype="multipart/form-data">
                {% csrf_token %}
            

               
                    <div class="inputs_form extra">
                        <label for="Largo">Largo</label>
                        {% render_field form.pot_large class="form-control" placeholder="Largo" id="Largo"%}
                    </div>

                    <div class="inputs_form extra">
                        <label for="Ancho">Ancho</label>
                        {% render_field form.pot_width class="form-control" placeholder="Ancho" id="Ancho"%}
                    </div>

                    <div class="inputs_form extra">
                        <label for="precio">Precio</label>
                        {% render_field form.pot_price class="form-control" placeholder="Precio" id="precio" %}
                    </div>

                    <div class="inputs_form extra">
                        <label for="Disponibilidad">Disponibilidad</label>
                        {% render_field form.pot_dispo class="form-control" id="dispo" %}
                    </div>

                    <div class="inputs_form extra" >
                        <label for="Comprador">Comprador</label>
                        {% render_field form.pot_owner class="form-control" placeholder="Comprador" id="Comprador"%}
                    </div>
                    <div class="inputs_form extra">
                        {% render_field form.pot_map class="form-control"%}
                        
                        <!-- {% render_field form.pot_owner class="form-control" placeholder="Comprador" %} -->
                    </div>

                    <!-- <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" placeholder="Server" aria-label="Server"> -->
                 <div class="btn_div_sect">
                     <button type="submit"class="btn btn-outline-success"  >Actualizar</button>
                </div>
                  <!-- <div class="mb-3">

                   <label for="id_pot_large">Largo </label>
                        {{ form.pot_large }}
                        <label for="id_pot_width">Ancho</label>
                        {{ form.pot_width }}
                    
                    <input  class="form-control" id="lote_price" placeholder="Precio">
                    <input  class="form-control" id="lote_disponibiliad" placeholder="Disponibilidad ">
                    
                    <button type="submit" class="btn btn-outline-success">Crear</button>  
                </div> -->
                  
            </form>
            <a href="{% url 'home' %}" class="btn btn-outline-danger">Cancelar</a>
        </div>
    </div>
{% endblock %}