{% extends 'lotification/base.html' %}

{% block content %}
<main>

 
    {% if permission %}
      {% include 'lotification/admin_template.html' %}
    {% else %}
      {% include 'lotification/user_template.html' %}
                
    {%endif%}

<div class="section_bottom">
    <div class="title_card">
        <h5>Lotes totales: {{ numero_lotes }}</h5>
    </div>
    <table class="table">
      <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Longitud</th>
            <th scope="col">Ancho</th>
            <th scope="col">Precio</th>
            <th scope="col">Estado</th>
            <th scope="col">Comprador</th>
            <!-- <th scope="col">Vendedor</th> -->
          </tr>
        </thead>
        <tbody>
          
        
          {% for i in lotes %}
          <tr>
          <th scope="row">{{i.id}}</th>
          <td>{{i.pot_large}}</td>
          <td>{{i.pot_width}}</td>
          <td>{{i.pot_price}}</td>
          <td>{{i.pot_dispo}}</td>
          <td>{{i.pot_owner}}</td>
          <!-- <td>{{i.vendedor}}</td> -->
          </tr>
          
          {% endfor %}
        </tbody>
        
        
      </table>
      <div class="btns_section">
        <a href="nuevo_lote" class="btn btn-outline-primary">Nuevo</a>
        <a href="lote" class="btn btn-outline-primary">Ver mas</a>
        <!-- <button type="button" class="btn btn-outline-danger">Danger</button> -->
      </div>
    </div>
  </main>
{% endblock %}