
{% extends 'lotification/base.html'%}
{% block content %}

    <div class="btn_section">
        <div class="search">
            <input type="text" class="input_text">
            <div class="btn_search_div">
                <input type="button" value="Buscar" class="search_btn">
            </div>
            
        </div>
        <div class="new_register">
            <input type="button" value="Nuevo Lote">
        </div>
        
    </div>
    <div class="table_content">
        <table>
            <tr>
                <th>ID</th>
                <th>Longitud</th>
                <th>Ancho</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>Comprador</th>
                <th>Vendedor</th>
            </tr>
             
            {% for i in lotes %}
            <tr>
            <td>{{i.id}}</td>
            <td>{{i.longitud}}</td>
            <td>{{i.ancho}}</td>
            <td>{{i.precio}}</td>
            <td>{{i.estado}}</td>
            <td>{{i.comprador}}</td>
            <td>{{i.vendedor}}</td>
            </tr>
            
            {% endfor %}
        </table> 
    </div>

{% endblock %}