
{% extends 'lotification/base.html'%}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <div class="main_section_new">
        <div class="img_container">
            <figure class="figure_new">
                <img src="{% static '/img/logo_sin_fondo.png' %}" alt="">
            </figure>

        </div>

        <div class="form_container">
            <div class="title_card">

                <h5>Inicio de Sesion</h5>

        </div>
        <form class="form_login" action="" method="post">
            {% csrf_token %}
            <div class="form_content">

                <div class="inputs_form">
                    <input name="username" type="text" placeholder="Nombre de ususario" class="form-control">
                </div>
                <div class="inputs_form ">
                    <input  name="password" type="password" placeholder="Password" class="form-control">
                </div>
                
                <div class="btn_div_sect">
                    
                    <button type="submit" class="btn btn-outline-info">Iniciar Sesion</button>
                </div>
            </div>

            </form>
        </div>
    </div>
{% endblock %}