{% extends 'lotification/base.html'%}

{% block content %}
    <div class="card_info">
        <div class="title_card_info">
            <h5>Lote {{lote.id}}</h5>
        </div>
        <div>
            <div class="lote_info_context">
                <p><strong>Dimensiones:</strong> {{lote.pot_large}}m x {{lote.pot_width}}m</p>
                <p><strong>Area:</strong> {{lote.pot_large}}m x {{lote.pot_large}}m</p>
                <p><strong>Precio:</strong> ${{lote.pot_price}}</p>
                <p><strong>Disponibilidad:</strong>: {{lote.pot_dispo}}</p>
            </div>
            <div class="lote_info_context">
                <p><strong>Comprador:</strong> {{lote.pot_owner}}</p>
                <!-- <p><strong>Vendedor:</strong> {{lote.vendedor}}</p> -->
                <p><strong>Fecha de compra:</strong> </p>
                <p><strong>Saldo:</strong>: </p>
                <p><strong>Saldo:</strong>:{{transactions}} </p>
            </div>
        </div>
    </div>
    <div>
    </div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID Pago</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Fecha</th>
            <!-- <th scope="col">Vendedor</th> -->
          </tr>
        </thead>
        <tbody>

        
          {% for pago in pagos %}
          <tr>
          <th scope="row"><a href="lote_info/{{pago.id}}">{{pago.id}}</a></th>
          <td>{{pago.Payment_amount}}</td>
          <td>{{pago.Payment_date}}</td>
          </tr>
          
          {% endfor %}
        </tbody>
        

      </table>
    <a href="{% url 'lote' %}" class="btn btn-outline-danger">Volver</a>
{% endblock %}