{% extends 'lotification/base.html'%}

{% block content %}
    <div class="card_info">
        <div class="title_card_info">
            <h5>Lote {{lote.id}}</h5>
        </div>
        <div>
            <div class="lote_info_context">
                <p><strong>Dimensiones:</strong> {{lote.longitud}}m x {{lote.ancho}}m</p>
                <p><strong>Area:</strong> {{lote.longitud}}m x {{lote.ancho}}m</p>
                <p><strong>Precio:</strong> ${{lote.precio}}</p>
                <p><strong>Disponibilidad:</strong>: {{lote.estado}}</p>
            </div>
            <div class="lote_info_context">
                <p><strong>Comprador:</strong> {{lote.comprador}}</p>
                <p><strong>Vendedor:</strong> {{lote.vendedor}}</p>
                <p><strong>Fecha de compra:</strong> </p>
                <p><strong>Saldo:</strong>: </p>
            </div>
        </div>
    </div>
    <a href="{% url 'home' %}" class="btn btn-outline-danger">Volver</a>
{% endblock %}