{% extends 'lotification/base.html' %}


{% block content %}
<div class="section_bottom">
    <div class="title_Section">
        <h5>Lotes totales</h5>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Longitud</th>
            <th scope="col">Ancho</th>
            <th scope="col">Precio</th>
            <th scope="col">Estado</th>
            <th scope="col">Comprador</th>
            <th scope="col">Vendedor</th>
          </tr>
        </thead>
        <tbody>

        
          {% for i in lotes %}
          <tr>
          <th scope="row"><a href="lote_info/{{i.id}}">{{i.id}}</a></th>
          <td>{{i.longitud}}</td>
          <td>{{i.ancho}}</td>
          <td>{{i.precio}}</td>
          <td>{{i.estado}}</td>
          <td>{{i.comprador}}</td>
          <td>{{i.vendedor}}</td>
          </tr>
          
          {% endfor %}
        </tbody>
        

      </table>
      <div class="btn_section">
        <a href="lote" class="btn btn-outline-info">Ver mas</a>
        <a href="nuevo_lote" class="btn btn-outline-info">Nuevo</a>
        <!-- <button type="button" class="btn btn-outline-danger">Danger</button> -->
      </div>
</div>


{% endblock %}