{% extends 'lotification/base.html' %}


{% block content %}

<div class="main_section_list">
  <div class="dashboard">
    <div class="title_card">
      <h5>Lotes: </h5>
    </div>

    <div class="filter_section">
      <form action="" method="get">
        {{filtro.form}}
        <button class="btn btn-primary" type="submit" > Buscar</button>
      </form>
    </div>

    <div class="table_info">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Longitud</th>
            <th scope="col">Ancho</th>
            <th scope="col">Precio</th>
            <th scope="col">Estado</th>
            <th scope="col">Comprador</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <!-- <th scope="col">Vendedor</th> -->
          </tr>
        </thead>
        <tbody>

        
          {% for i in lotes %}
          <tr>
          <th scope="row"><a href="lote_info/{{i.id}}">{{i.id}}</a></th>
          <td>{{i.pot_large}} m</td>
          <td>{{i.pot_width}} m </td>
          <td>$ {{i.pot_price}} </td>
          <td>{{i.pot_dispo}}</td>
          <td>{{i.pot_owner}}</td>
          <td> <a class="btn btn-outline-warning" href="lote_info/{{i.id}}/edit">Editar</a> </td>
          <td><a  class="btn btn-outline-danger" href="lote_info/{{i.id}}/delete">Eliminar</a></td>


          </tr>
          
          {% endfor %}
        </tbody>
        

      </table>
    </div>

    <div class="btns_section">
      <a href="nuevo_lote" class="btn btn-outline-info">Nuevo</a>
      <a href="home" class="btn btn-outline-danger">Volver</a>
      <!-- <button type="button" class="btn btn-outline-danger">Danger</button> -->
    </div>
  </div>
</div>


{% endblock %}