
{% load static %}
<nav class="navbar bg-dark" style="background-color: #000103;">
    <div class="container-fluid">
      <figure class="logo_navbar">
        <a href=" {% url 'home' %}">

          <img src="{% static '/img/logo_sin_fondo.png' %}" alt="Logo" class="logo">
        </a>
      </figure>
      <span style="color:aliceblue" >Bienvenido ,<a href="user_info/{{request.user.id}}">{{ request.user }}</a></span>
      <span><a class="btn btn-outline-danger" href="{% url 'logOut' %}">Cerrar sesion</a></span>
    </div>

  </nav>

  <!-- <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <figure></figure>
      <a class="navbar-brand">Navbar</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav> -->