
{% extends 'lotification/base.html'%}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <div class="main_section_new">
        <div class="img_container">
            <figure>
                <img src="{% static '/img/logo_sin_fondo.png' %}" alt="">
            </figure>

        </div>
        <div class="form_container">
            <h5>Nuevo Lote</h5>
            <form action="" method="post">
                {% csrf_token %}
                <!-- {{ form }} -->

                <div class="dimensiones">
                    {% render_field form.pot_large class="form-control" placeholder="Largo" %}
                    {% render_field form.pot_width class="form-control" placeholder="Ancho" %}
                    <!-- <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" placeholder="Server" aria-label="Server"> -->
                  </div>
                  {% render_field form.pot_price class="form-control" placeholder="Precio" %}
                  {% render_field form.pot_dispo class="form-control" %}
                  {% render_field form.pot_owner class="form-control" placeholder="Comprador" %}
                  <button type="submit"class="btn btn-outline-success"  >Crear</button>
                  <!-- <div class="mb-3">

                   <label for="id_pot_large">Largo </label>
                        {{ form.pot_large }}
                        <label for="id_pot_width">Ancho</label>
                        {{ form.pot_width }}
                    
                    <input  class="form-control" id="lote_price" placeholder="Precio">
                    <input  class="form-control" id="lote_disponibiliad" placeholder="Disponibilidad ">
                    
                    <button type="submit" class="btn btn-outline-success">Crear</button>  
                </div> -->
                  
            </form>
            <a href="home" class="btn btn-outline-danger">Cancelar</a>
        </div>
    </div>
{% endblock %}